body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #014301;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
    font-size: 36px;
}

a {
    color: #008000;
}
.highlight {
    color: #008000;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}
.section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.section:last-child {
    border-bottom: none;
}
.section h2 {
    font-size: 24px;
    margin-top: 0;
}

::-moz-selection {
    color: white;
    background: #008000;
}
::selection {
    color: white;
    background: #008000;
}

.itemize {
    list-style-type: disc; /* Use disc bullets for itemized list */
    padding-left: 20px; /* Add some left padding to the list */
}
li {
    margin: 10px 0;
    padding-bottom: 10px;
}

.hw {
    border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) and (orientation: portrait) {
    .content {
        margin: 0;
        padding: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    /* Dark theme styles */
    body {
        background-color: #444;
        color: #fff;
    }
    header {
        background-color: #222;
    }
    .content {
        background-color: #444;
    }
    .section {
        border-bottom: 1px solid #555;
    }
    
    a {
        color: #0ff30f;
    }
    .highlight {
        color: #0ff30f;
    }
    .hw {
        border-bottom: 1px solid #555;
    }
}

.addinfo {
    color: #777;
}
.addinfo a{
    color: #4be74b;
}

button {
    background-color: #1c331c;
    color: #f2f2f2;
    border-color: #a6a6a6;
    border-style: solid;
    font-size: inherit;
    margin: 0 6px 0 6px;
    padding: 0 12px 0 12px;
    font-style: italic;
}
button:hover {
    background-color: #006600;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
button:active {
    background-color: #e6e6e6;
    color: #006600;
    border-color: #006600;
}

#gamediv {
    width: fit-content;
    margin: 0 auto;
}

#gamespan {
    margin-left: 2px;
}

#pexgrid {
    display: inline-grid;
    gap: 5px 5px;
}

.pextile {
    width: 96px;
    height: 96px;
}

